:root {
  --primary-main: #ff5c00;
  --primary-light: #ff8442;
  --primary-dark: #c75000;
  --secondary-main: #10535e;
  --secondary-light: #10535e;
  --secondary-dark: #10535e;
  --error-main: #ff3f46;
  --warning-main: #ff9321;
  --info-main: #288bdb;
  --success-main: #3fc138;
}

body {
  margin: 0;
  background-color: #d3d6e4;
}

@media print {
  .print-hide {
    display: none;
  }
}
